<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
      temporibus nemo, necessitatibus a ipsam sint at enim cumque, repudiandae
      iure aliquid nulla odio cum quisquam veniam dignissimos blanditiis et
      similique magni explicabo! Explicabo consequuntur rerum nulla, corporis
      qui quisquam obcaecati.</p>
  </div>
</div>