<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">Aplicación CRUD, con NodeJS y MongoDB para la manipulación y
    almacenamiento de datos.</p>
  <hr class="my-4" />
  <p>Para ver el código de esta aplicación y otros proyectos puedes dirigirte a
    mi perfil de GitHub.</p>
  <a
    href="https://github.com/Lordishh"
    class="btn btn-danger btn-lg"
    target="_blank"
  >GitHub</a>
  <br />
  <br />
  <p style="text-align: right;"><i>Created by Enuel Monzón</i></p>
</div>